<footer class="site-footer h-card">
    <div class="wrapper">

        <div class="footer-col-wrapper">
            <div class="footer-col">
                <p>
                    Made with ♥ by <a href="https://plabayo.tech/" target="_blank">Plabayo</a>.
                </p>
            </div>
            <div class="footer-col">
                <p>
                    <a href="https://github.com/plabayo/learn-rust-101/blob/main/README.md" target="_blank">This page is open sourced at Github.</a>
                </p>
            </div>
        </div>

    </div>

</footer>