<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%- seo -%}
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
    {%- feed_meta -%}

    <link rel="icon" type="image/x-icon" href="favicon.ico">

    <style>
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            scroll-margin-top: 80px;
        }

        .site-header {
            position: fixed;
            margin-bottom: 80px;
            width: 100vw;
            background: white;
        }

        .header-filler {
            height: 50px;
            width: 100vw;
        }

        .site-nav {
            margin-left: 20px;
        }
    </style>

</head>