<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%- seo -%}
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
    {%- feed_meta -%}
        
    <link rel="icon" type="image/x-icon" href="favicon.ico">

    <style>
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            scroll-margin-top: 80px;
        }
    </style>
    
  </head>